@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.Title{
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    color: white;
}

.navList{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    background-color: #6305dd;
    width: 100%;
}


ul li{
    padding: 10px 35px;
}

a{
    font-size: 1.2em;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

a:hover{
    background-color: #f4f4f4;
    color: #6305dd;
    padding: 5px;
}


