.wrapper-first{
    margin-top: 100px;
    margin-right: 20px;
    margin-left: 20px;
}

.first-section{
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
}

.containers{
    margin: 0 45px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.text-containers{
    margin-top: 10px;
    padding-top: 10px;
}

.img-first-section{
    height: 10rem;
}